body{
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  font-family: Arial, sans-serif;
}

.ota{
  width: 400px;
  background: #fff;
  margin: 80px auto;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

input, select{
  width: 90%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 16px;
}

#natija{
  margin-top: 30px;
  font-size: 24px;
  padding: 15px;
  background: #f0f0f0;
  border-radius: 10px;
  color: green;
}
